body {
	background: url("img/background.jpg") no-repeat;
	/*
	PROBLEMA:
		As barras estao invertidas ( tipo \ )
		Tu usou background-image e adicionou o no-repeat, daew o css não entendeu.

		É preferivel usar só background (ou margin, ou qualquer outra propriedade primaria), do que usar background-image, depois background-color, enfim.
		
	*/
	/*Evita caminhos muito longos, tipo "C:\Users\k_rol_000\Desktop\Projeto\img\background.jpg"*/	
}


#menu {
	position:center; /*Acho que não existe center, dá uma olhada na MDN*/
	top:10px; /*Tenta usar margin ao inves desses espaçamentos. Tu pode até agrupar, como eu falei em cima, tipo "margin: (valor top) (right) (bottom) (left);"*/ 
	left:100px;
	margin:auto;
}
ul{
	list-style-type: none;
	position: fixed;
	margin: -10px;
}

li {
	display: inline;
	font-family: Arial; /*Eu gosto de colocar o font-family no body, acho mais pratico, mas é preferencia minha, mesmo. Faz como tu quiser.*/
	padding: 5px;
	text-decoration:none;
}

#menu ul li a {
	text-align:center;
	padding: 2px 10px;
	display: inline-block;
	text-decoration: none;
	
}

#logo {
  float: left;
  background-image:url('C:\Users\k_rol_000\Desktop\Projeto\img\organic-logo_03.png');
  
}

